.download-boleto {
    margin-bottom: 10px;
}
.card_cvv {
    width: 150px !important;
}
.safrapay-card-fields p label {
    margin: 5px 0;
    font-size: 14px;
}
.payment_method_safrapay_card p {
    margin-bottom: 15px!important;
}
.payment_method_safrapay_boleto .form-row .required,
.payment_method_safrapay_card .form-row .required {
    text-decoration: none!important;
}
#safrapay_card_number_field + p {
    margin-bottom: 0!important;
}
#safrapay_card_number {
    padding-left: 55px;
    background-image: url('../bandeiras/credit-card.svg');
    background-repeat: no-repeat!important;
    background-position: 10px center!important;
    background-size: 36px auto!important;
}
#card-brand img {
    float: left!important;
}
#card-brand img {
    position: relative;
    top: -52px;
    left: 7px;
    margin-bottom: -25px;
    display: block;
    width: 42px;
}
#safrapay_checkbox_field abbr {
    display: none;
}
#safrapay_checkbox_field input.input-checkbox {
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
}
#safrapay_checkbox_field a {
    color: red;
    text-decoration: none;
}
.form-row.woocommerce-invalid input.input-text,
.payment_method_safrapay_card select,
.payment_method_safrapay_card input.input-text {
    border: 1px solid #ccc!important;
    box-shadow: none!important;
    height: 40px;
    border-radius: 0;
    background: #fff!important;
    padding: 0 15px;
}
#safrapay_card_expiration_month_field {
    width: 52px;
}

#safrapay_card_expiration_month_field label {
    white-space: nowrap;
}
#safrapay_card_year_month_field {
    float: left!important;
    padding-top: 32px;
}
#card_holder_name_field,
#card_holder_document_field,
#safrapay_card_number_field,
#safrapay_card_installment_field {
    width: 300px;
}
.pix-thankyou {}
.pix-thankyou .alert.alert-error{color:#d00;}
.pix-thankyou input {width: 100%;}
.pix-thankyou .pix {display:flex;}
.pix-thankyou .pix button {}

/* Form inputs */
.safrapay-card-fields input[type="text"]{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#safrapay_card_expiration_year, #safrapay_card_expiration_month {
    padding: 0px 26px 0px 12px;
    font-size: 14px;
    line-height: 1.5;
    height: 36px;
}

.exp-container [class*="components-select-control"] {
    gap: 4px !important;
    padding-top: 0px !important;
}


/* Expiry CVV Container */
.safrapay-card-fields .exp-cvv-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.safrapay-card-fields .exp-cvv-container[type="text"] {
    width: 30%;
    margin-bottom: 0;
}

.safrapay-card-fields .exp-container{
    width: calc(100%/3);
}